@mixin highlight-dark {
/* Background */ ._bg { color: #ffffff; background-color: #1f1f24;-moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; }
/* PreWrapper */ ._chroma { color: #ffffff; background-color: #1f1f24;-moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; }
/* LineTableTD */ ._chroma ._lntd:last-child { width: 100%; }/* LineNumbers targeted by URL anchor */ ._chroma ._ln:target { color: #ffffff; background-color: #353539 }
/* LineNumbersTable targeted by URL anchor */ ._chroma ._lnt:target { color: #ffffff; background-color: #353539 }
/* Error */ ._chroma ._err { color: #960050 }
/* LineTableTD */ ._chroma ._lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ ._chroma ._lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ ._chroma ._hl { background-color: #353539 }
/* LineNumbersTable */ ._chroma ._lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ ._chroma ._ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ ._chroma ._line { display: flex; }
/* Keyword */ ._chroma ._k { color: #fc5fa3 }
/* KeywordConstant */ ._chroma ._kc { color: #fc5fa3 }
/* KeywordDeclaration */ ._chroma ._kd { color: #fc5fa3 }
/* KeywordNamespace */ ._chroma ._kn { color: #fc5fa3 }
/* KeywordPseudo */ ._chroma ._kp { color: #fc5fa3 }
/* KeywordReserved */ ._chroma ._kr { color: #fc5fa3 }
/* KeywordType */ ._chroma ._kt { color: #fc5fa3 }
/* NameBuiltin */ ._chroma ._nb { color: #d0a8ff }
/* NameBuiltinPseudo */ ._chroma ._bp { color: #a167e6 }
/* NameClass */ ._chroma ._nc { color: #5dd8ff }
/* NameFunction */ ._chroma ._nf { color: #41a1c0 }
/* NameVariable */ ._chroma ._nv { color: #41a1c0 }
/* LiteralString */ ._chroma ._s { color: #fc6a5d }
/* LiteralStringAffix */ ._chroma ._sa { color: #fc6a5d }
/* LiteralStringBacktick */ ._chroma ._sb { color: #fc6a5d }
/* LiteralStringChar */ ._chroma ._sc { color: #fc6a5d }
/* LiteralStringDelimiter */ ._chroma ._dl { color: #fc6a5d }
/* LiteralStringDoc */ ._chroma ._sd { color: #fc6a5d }
/* LiteralStringDouble */ ._chroma ._s2 { color: #fc6a5d }
/* LiteralStringEscape */ ._chroma ._se { color: #fc6a5d }
/* LiteralStringHeredoc */ ._chroma ._sh { color: #fc6a5d }
/* LiteralStringOther */ ._chroma ._sx { color: #fc6a5d }
/* LiteralStringRegex */ ._chroma ._sr { color: #fc6a5d }
/* LiteralStringSingle */ ._chroma ._s1 { color: #fc6a5d }
/* LiteralStringSymbol */ ._chroma ._ss { color: #fc6a5d }
/* LiteralNumber */ ._chroma ._m { color: #d0bf69 }
/* LiteralNumberBin */ ._chroma ._mb { color: #d0bf69 }
/* LiteralNumberFloat */ ._chroma ._mf { color: #d0bf69 }
/* LiteralNumberHex */ ._chroma ._mh { color: #d0bf69 }
/* LiteralNumberInteger */ ._chroma ._mi { color: #d0bf69 }
/* LiteralNumberIntegerLong */ ._chroma ._il { color: #d0bf69 }
/* LiteralNumberOct */ ._chroma ._mo { color: #d0bf69 }
/* Comment */ ._chroma ._c { color: #6c7986 }
/* CommentHashbang */ ._chroma ._ch { color: #6c7986 }
/* CommentMultiline */ ._chroma ._cm { color: #6c7986 }
/* CommentSingle */ ._chroma ._c1 { color: #6c7986 }
/* CommentSpecial */ ._chroma ._cs { color: #6c7986; font-style: italic }
/* CommentPreproc */ ._chroma ._cp { color: #fd8f3f }
/* CommentPreprocFile */ ._chroma ._cpf { color: #fd8f3f }
}
