@mixin theme-light {
	--theme-logo: #FFF;
	--theme-lgbg: #000;
	--theme-head: #444;
	--theme-fore: #444;
	--theme-back: #EEE;
	--theme-dim:  #666;
	--theme-line: #AAA;
	--theme-link: #070;
	--theme-sfg:  var(--theme-back);
	--theme-sbg:  var(--theme-fore);
}
