html, body {
	background-color: var(--theme-back);
	color: var(--theme-fore);
}
::selection {
	background-color: var(--theme-sbg);
	color: var(--theme-sfg);
}
html {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
}
body {
	--main-block: 5rem;
	display: grid;
	flex: 1 0 auto;
	width: 100%;
	grid-template-columns: 1fr minmax(0, 90ch) 1fr;
	grid-template-rows: max-content 1fr max-content;
	grid-template-areas:
		"header header header"
		".      main   ."
		".      footer ."
	;
}
body > header {
	grid-area: header;
}
body > main {
	grid-area: main;
	max-width: 90ch;
	flex: 1 0 auto;
	margin: 1ch;
}
body > footer {
	grid-area: footer;
	max-width: 90ch;
}
