:root {
	--san-serif: "Noto Sans", sans-serif;
	--monospace: "Liberation Mono", monospace;
	font-family: var(--san-serif);
	font-size: 22px;
	line-height: 1.5;
	--indent: 4;
}
@media (max-width: 896px) { :root { font-size: 20px; --indent: 4 } }
@media (max-width: 768px) { :root { font-size: 18px; --indent: 2 } }
@media (max-width: 640px) { :root { font-size: 14px; --indent: 2 } }
