.pagination {
	display: flex;
	flex-flow: wrap row;
	padding-block: 1rem;
	justify-content: center;
	background-color: var(--theme-back);
	position: sticky;
	bottom: 0;
	.page-item {
		display: inline;
		margin-inline: 0.5rem;
		a.page-link {
			display: inline-block;
			inline-size: 2rem;
			text-align: center;
			&:not([href]) {
				color: var(--theme-fg);
			}
		}
	}
	.active {
		border-bottom: 2px solid var(--theme-line);
	}
}
