{{- define "main" }}
{{- partial "nav.html" . }}
<article>
	<header>
		<div class="title">
			<h1>{{.Title}}</h1>
			{{- if isset .Params "date" }}
				<span class="date">
					{{- $format := "2006-01-02" }}
					{{- if eq .Type "briefs" }}
						{{- $format = "2006-01-02 15:04" }}
					{{- end }}
					{{- if le .Lastmod .Date }}
						Published on <time>{{.Date | time.Format $format}}</time>
					{{ else }}
						Modified on <time>{{.Lastmod | time.Format $format}}</time>
					{{ end }}
				</span>
			{{- end -}}
		</div>
		<div class="subtitle">
			{{- if .Description }}
				<div class="description">{{.Description}}</div>
			{{- end }}
			<span class="tags">
				{{- range .GetTerms "tags" }}
					<a class="tag" href="{{.Permalink}}">{{partial "format-term.txt" (slice "tags" (.Path | path.Base))}}</a>
				{{- end }}
			</span>
		</div>
	</header>
	{{- if eq .Type "threads" }}
		<div class="thread">
			<span class="string"></span>
			{{- .Content -}}
		</div>
	{{- else }}
		{{- .Content -}}
	{{- end }}
</article>
{{- end }}
