{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- $res := false -}}
{{- if not $u.IsAbs -}}
	{{- $path := strings.TrimPrefix "./" $u.Path -}}
	{{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
		{{- $res = . -}}
		{{- $src = .RelPermalink -}}
		{{- with $u.RawQuery -}}
			{{- $src = printf "%s?%s" $src . -}}
		{{- end -}}
		{{- with $u.Fragment -}}
			{{- $src = printf "%s#%s" $src . -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
{{- if .IsBlock -}}
<figure>
{{- end -}}
{{- $tag := "<img" -}}
{{- with $res -}}
	{{- if eq .ResourceType "video" -}}
		{{- $tag = "<video" -}}
	{{- end -}}
{{- end -}}
{{$tag|safeHTML}} src="{{$src}}"
	{{- with $res}}
	{{- if eq .ResourceType "image"}} width="{{.Width}}" height="{{.Height}}" loading="lazy" {{- end -}}
	{{- if eq .ResourceType "video"}} controls loop {{- end -}}
	{{- end -}}
	{{- if not .IsBlock }} alt="{{.PlainText}}" {{- end -}}
	{{- with .Title }} title="{{.}}" {{- end -}}
	{{- range $k, $v := .Attributes -}}
		{{- if $v -}}
			{{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
		{{- end -}}
	{{- end -}}
>{{- with $res}}{{- if eq .ResourceType "video" -}}</video>{{- end -}}{{- end -}}
{{- if .IsBlock -}}
{{- if .Text -}}
<figcaption>{{.Text}}</figcaption>
{{- end -}}
</figure>
{{- end -}}
{{- /**/ -}}
