{{- define "main" }}
{{- partial "nav.html" . }}
{{- partial "withfeed.html" (slice . .Title) }}
<p>{{partial "description.txt" .}}</p>
{{- $pages := .Pages }}
{{- $size := int site.Params.briefTimeline }}
{{- if gt $size 0 }}
	{{- $pages = (.Paginate $pages $size).Pages }}
{{- end }}
<div class="briefs">
	{{- range $pages }}
		<article id="{{.Date | time.Format "200601021504"}}" class="brief">
			<header>
				<div class="title">
					{{- if .Params.replyto }}
						<a href="{{.Params.replyto}}" target="_blank">⤷ Reply</a>
					{{- end }}
					<h1><a href="{{.Permalink}}">{{.Title}}</a></h1>
					<time class="date" title="{{.Date | time.Format "2006-01-02 15:04"}}">{{.Date | time.Format "2006-01-02"}}</time>
				</div>
			</header>
			{{- .Content -}}
			<div class="tags">
				{{- range .GetTerms "tags" }}
					<a class="tag" href="{{.Permalink}}">{{partial "format-term.txt" (slice "tags" (.Path | path.Base))}}</a>
				{{- end }}
			</div>
		</article>
	{{- end }}
</div>
{{- if gt $size 0 }}
	{{ partial "pagination.html" (dict "page" . "format" "default") }}
{{- end }}
{{- end }}
